<h2 style="text-align: center">Datepicker</h2>
<div class="container">
  <form [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepickerFilter]="myFilter"
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="picker"
        formControlName="data"
        endDate="true"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    {{ valorTela | date : "dd/MM/YYYY" }}

    <div><button (click)="confirma()">Pegar valor</button></div>
    <br />
    <h1>{{ mockData | date : "dd/MM/yyyy HH:mm" : "-03:00" }}</h1>
  </form>
</div>


<div>
  <!-- <a (click)="getDate($event.target, 2)">CLICAR 2</a> <br>
  <a (click)="getDate($event.target, 5)">CLICAR 5</a> <br>
  <a (click)="getDate($event.target, 7)">CLICAR 7</a> <br>
  <a (click)="getDate($event.target, 15)">CLICAR 15</a> <br> -->
  <a (click)="getDate($event.target, 30)">CLICAR 30</a> <br />
</div>


<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <form [formGroup]="form">
      <input matStartDate placeholder="Start date" formControlName="dtInicio" />
      <input matEndDate placeholder="End date" formControlName="dtFim" />
    </form>
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
<a (click)="obterData()">Obter Data</a>

<form [formGroup]="form">
  <input type="text" formControlName="tipo" />
  <button (click)="teste()">A</button>
</form>
