<app-form-dinamico (envForm)="submitForm($event)"></app-form-dinamico>

<button (click)="enviar()">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</button>
<hr />

<app-pin-angular></app-pin-angular>
<hr />
<app-datepicker></app-datepicker>

<app-input-mask></app-input-mask>
<hr />
<button [style.backgroundColor]="cpf ? 'gray' : '#fff'" [disabled]="cpf">
  {{ pegandoTipo }}
</button>
<button [style.backgroundColor]="email ? 'gray' : '#fff'" [disabled]="email">
  {{ pegandoTipo }}
</button>
<!-- <h1>{{ pegandoTipo }}</h1> -->

<h1 style="text-align: center">Mascarando CPF/CNPJ</h1>
<div class="container">
  <h2>{{ cpfCnpj | formatCpf }}</h2>
</div>

<h1>Pegando informação</h1>
<div *ngFor="let item of perguntas">
  <input
    class="form-check-input"
    type="radio"
    id="opcoes_{{ item.tipo }}"
    [ngModel]="selected"
    (ngModelChange)="pegando(item.chave)"
    [value]="item.tipo"
    [formControl]="checked"
  />

  {{ item.chave }}
</div>
