<h2 style="text-align: center">Pin in Angular 11</h2>
<div class="container">
  <code-input
    [isCodeHidden]="false"
    [isNonDigitsCode]="false"
    [codeLength]="6"
    (codeChanged)="onCodeChanged($event)"
    (codeCompleted)="onCodeCompleted($event)"
    [isPrevFocusableAfterClearing]="false"
  >
  </code-input>
</div>

<h2 style="text-align: center">Datepicker</h2>
<div class="container">
  <form [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepickerFilter]="myFilter"
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="picker"
        formControlName="data"
        endDate="true"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    {{ valorTela | date : "dd/MM/YYYY" }}

    <div><button (click)="confirma()">Pegar valor</button></div>
    <br />
    <h1>{{ mockData | date : "dd/MM/yyyy HH:mm" : "-03:00" }}</h1>
  </form>
</div>
